<form class="ui stack segment reply form" action="/about/addcomment" method="POST">
    <div class="field">
    <input placeholder="Comment" type="text" name="comment" autofocus required>
    </div>
    <div class="ui blue submit icon button">
     Add Comment
    </div>
  </form>
