{{> menu id="dashboard"}}

<div class="ui breadcrumb">
    <a id ="home" class="item" href="/start"> Video Game App</a>

  <i class="right chevron icon divider"></i>   
  <div class="active section">Dashboard</div>

</div>

<section class="ui segment">
  {{> listgenres}}
  {{> addgenre}}
</section>
