{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Sign up or Log in... </p>
</section>
<body id = "bg">
  
<div class = "ui home grid">
  <div class = "ui home column">
  <div class="ui statistics">
        <div class="ui huge statistic">
       
          <div id="val1" class="value">
            {{allGenres}}
          </div>
          <div id = "txt" class="label">
          <i class="book icon"></i> Total Genres
          </div>
        </div>
    <div class="ui huge statistic">
          <div id="val1" class="value">
            {{totalGames}}
          </div>
          <div id = "txt" class="label">
           <i class="gamepad icon"></i> Total Games
          </div>
        </div>
    
     <div class="ui huge statistic">
       
    <div id="val1" class="value">
      Andrew
    </div>
    <div id = "txt" class="label">
 <i class="blue star icon"></i>     Member with most Categories
    </div>
  </div>
</div>
  
<div id ="date">
            {{date}}

    </div>
</div>

    
</div>
   

  
 

</body>
 